In [1]:
from bin.processor import processor
import numpy as np
data=processor(base='data/cryptoData',path='raw_data/')
data=data.data

Shape of combined df:  (231866, 5)
After removing duplicate prices:  (230248, 5)
After removing duplicate datetimes:  (230231, 5)

In [2]:
data.describe()

                 BTC            ETH            LTC
count  230231.000000  230231.000000  230231.000000
mean     6229.901696     193.959684      84.788008
std      1472.292717      43.595824      14.132876
min      3879.200000     131.500000      57.380000
25%      5167.630000     163.800000      75.100000
50%      5561.900000     173.190000      84.410000
75%      7907.890000     243.775000      92.020000
max      9133.850000     290.090000     122.600000