In [1]:
from bin.processor import processor
import numpy as np
data=processor(base='data/cryptoData',path='raw_data/')
data=data.data

Shape of combined df:  (233846, 5)
After removing duplicate prices:  (230443, 5)
After removing duplicate datetimes:  (230436, 5)

In [2]:
data.describe()

                 BTC            ETH            LTC
count  230436.000000  230436.000000  230436.000000
mean     6231.536705     194.011258      84.805908
std      1472.641813      43.609897      14.139073
min      3879.200000     131.500000      57.380000
25%      5167.977500     163.820000      75.120000
50%      5564.910000     173.210000      84.480000
75%      7909.360000     243.950000      92.030000
max      9133.850000     290.090000     122.600000